# Variables de entorno para desarrollo local
# Copia este archivo a .env y reemplaza los valores

TMDB_API_KEY=tu_clave_de_tmdb_aqui
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p
TMDB_DEFAULT_LANGUAGE=es-ES
